.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.form {
  margin: 50px;
}

.form-input {
  margin: 20px;
  padding: 5px;
}

.form-submit {
  display: block;
  justify-content: center;
  width: 100px;
  margin-top: 30px;
  margin-left: auto;
  margin-right: auto;
  padding: 20px;
  border-radius: 10px;
  text-decoration: none;
  font-weight: 600;
  background-color: blue;
  color: white;
  cursor: pointer;
}

.table {

}

.table ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.table-img {
  width: 100%;
}